name: Backend CI/CD

on:
  push:
    branches:
      - main
    

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: AWS

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            # Install Node 20 if not installed
            if ! command -v node > /dev/null
            then
              curl -fsSL https://deb.nodesource.com/setup_20.x | sudo -E bash -
              sudo apt install -y nodejs
            fi

          
            # Clone repo only if not exists
            if [ ! -d "/home/ubuntu/mini-todo-app" ]; then
              git clone https://github.com/manav142003/mini-todo-app.git /home/ubuntu/mini-todo-app
            fi
         
            cd /home/ubuntu/mini-todo-app
            git pull origin main
            cd mini-todo-backend
            npm install
            sudo npm install pm2 -g
            pm2 restart server || pm2 start server.js --name server
            