name: Deploy to EC2

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: AWS

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            git config --global --add safe.directory /home/ubuntu/mini-todo-app
            cd /home/ubuntu/mini-todo-app
            git pull
            git checkout main
            cd /home/ubuntu/mini-todo-app/mini-todo-frontend
            npm install
            npm run build
            cd/home/ubuntu/mini-todo-app/mini-todo-backend
            npm install
            pm2 start app.js --name=backend
